Il est recommandé de naviguer avec <a href="https://addons.mozilla.org/fr/firefox/addon/ublock/"><b>un bloqueur de pub</b></a> ainsi
qu'<a href="https://www.eff.org/fr/privacybadger"><b>un bloqueur de mouchards</b></a>.
