Il est recommandé de naviguer avec <a href="https://addons.mozilla.org/fr/firefox/addon/ublock/">un bloqueur de pub</a> ainsi qu'<a href="https://www.eff.org/fr/privacybadger">un bloqueur de mouchards</a>.
