<ul>
  <li><a href="https://facebook.com/punkisdeadassos"/>Facebook</a></li>
  <li><a href="https://twitter.com/assopunkisdead"/>Twitter</a></li>
  <li><a href="https://facebook.com/parkinsonpunk"/>Park in Son</a></li>
  <li><a href="https://facebook.com/membrax03"/>Membrax</a></li>
  <li><a href="https://estcequecestlheuredecouterdupunk.punkisdead.fr/"/>Est-ce que c'est l'heure d'écouter du Punk ?</a></li>
</ul>
