<iframe class="bandcamp-big" src="https://bandcamp.com/EmbeddedPlayer/album=2825930217/size=large/bgcol=333333/linkcol=0f91ff/transparent=true/" seamless><a href="https://initrecords.bandcamp.com/album/snacks">Snacks by KIDCRASH</a></iframe>
