<iframe class='bandcamp-big' src="https://bandcamp.com/EmbeddedPlayer/album=3095341038/size=large/bgcol=333333/linkcol=0f91ff/transparent=true/" seamless><a href="https://noetalbot.bandcamp.com/album/split-mauvaise-pioche-no-talbot">Split Mauvaise Pioche &amp; Noé Talbot by Mauvaise Pioche &amp; Noé Talbot</a></iframe>
