<iframe class="bandcamp-big" src="https://bandcamp.com/EmbeddedPlayer/album=318279376/size=large/bgcol=333333/linkcol=0f91ff/transparent=true/" seamless><a href="https://guerillaasso.bandcamp.com/album/requiem-pour-les-sourds">requiem pour les sourds by Vulgaires Machins</a></iframe>
