<iframe class='bandcamp-big' src="https://bandcamp.com/EmbeddedPlayer/album=2367270105/size=large/bgcol=333333/linkcol=0f91ff/transparent=true/" seamless><a href="https://envy.bandcamp.com/album/all-the-footprints-youve-ever-left-and-the-fear-expecting-ahead">All The Footprints You&#39;ve Ever Left And The Fear Expecting Ahead by Envy</a></iframe>
