<iframe
  class="bandcamp-big"
  src="https://bandcamp.com/EmbeddedPlayer/album=4059392212/size=large/bgcol=333333/linkcol=0f91ff/transparent=true/"
    seamless>
    <a href="https://wearemoredangerous.bandcamp.com/album/s-t">
      s/t by More Dangerous Than a Thousand Rioters
    </a>
</iframe>
