<iframe class="bandcamp-big" src="https://bandcamp.com/EmbeddedPlayer/album=1717367322/size=large/bgcol=333333/linkcol=0f91ff/transparent=true/" seamless><a href="https://potence.bandcamp.com/album/lamour-au-temps-de-la-peste">L&#39;Amour Au Temps De La Peste by Potence</a></iframe>
