          <h2>Conseils</h2>
          <%= partial 'conseils' %>

          <h2>Archives</h2>
          <%= partial 'archives' %>

          <h2>Catégories</h2>
          <%= partial 'categories' %>

          <h2>Liens</h2>
          <%= partial 'liens' %>
