---
pageable: true
---
<h2>Nous contacter</h2>

<p>Que ce soit pour des renseignements sur les concerts à venir, une prise de
  contact pour faire jouer ton groupe ou nous aider à organiser une date dans
  les Alpes-Maritimes (éventuellement le Var) une seule adresse :
  envoie-nous un mail à <a href="mailto:asso@punkisdead.fr"><b>asso@punkisdead.fr</b></a>.</p>

<p>Si tu veux nous envoyer un message de remerciement (ou d'insulte), des plans
  sur des salles, associatives ou non, de la région, on prend aussi.</p>

<p>En espèrant te voir au détour d'un concert, <br/>
  <span style="font-style: italic">L'association Punk is Dead.</span></p>
